<ng-template #content let-modal>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">Add New Event</h6>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(0)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="row">
           <div class="pb-3 col-sm-6 col-12">
              <h6 class=" text-dark" >Event Date</h6>
                <input type="text"  readonly [value]="currentDate | date: 'longDate'" class="form-control"  />
               
         </div>  
          <div class="pb-3 col-sm-6 col-12">
            <h6 class=" text-dark" >Event Title</h6>
            <input type="text"  [(ngModel)]="title"  class="form-control" placeholder="Enter Your Title" />
              <span class="small text-danger font-weight-bold">{{errors.title}}</span>
          </div>
          <div class="pb-3 col-sm-6 col-12">
            <h6 class=" text-dark" >Event Description</h6>
            <textarea type="text" rows="5" [(ngModel)]="description"  class="form-control" 
            placeholder="Enter Your Description" ></textarea>
              <span class="small text-danger font-weight-bold">{{errors.description}}</span>
          </div>
          <div class="pb-3 col-sm-3 col-6">
            <h6 class=" text-dark" >Start Time</h6>
            <ngb-timepicker [(ngModel)]="starttime"></ngb-timepicker>
            <span class="small text-danger font-weight-bold">{{errors.time}}</span>
          </div>
          <div class="pb-3 col-sm-3 col-6">
            <h6 class=" text-dark" >End Time</h6>
            <ngb-timepicker [(ngModel)]="endtime"></ngb-timepicker>
         </div>

          
        </div>
    </div>
    <div class="modal-footer border-0">
      <button type="button" class="btn  btn-success" (click)="validate()">Save</button>
    </div>
  </ng-template>

